@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap");
* {
  font-weight: normal;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

html {
  font-size: 16px;
}

/**********************************************
Loop
**********************************************/
.glitch {
  -webkit-animation: glitch .5s infinite;
          animation: glitch .5s infinite;
  -webkit-box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
          box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
  position: relative;
}

@-webkit-keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.1em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.1em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0.05em 0 rgba(0, 255, 0, 0.75), -0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.25em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.1em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.25em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.1em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0.05em 0 rgba(0, 255, 0, 0.75), -0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.1em -0.025em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.1em -0.025em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), 0.05em 0.1em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), 0.05em 0.1em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.1em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.1em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.1em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.1em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
  }
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.1em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.1em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0.05em 0 rgba(0, 255, 0, 0.75), -0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.25em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.1em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.25em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.1em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0.05em 0 rgba(0, 255, 0, 0.75), -0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.1em -0.025em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.1em -0.025em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), 0.05em 0.1em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), 0.05em 0.1em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.1em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.1em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.1em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.1em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
  }
}

.glitch-text {
  -webkit-animation: glitchText .5s infinite;
          animation: glitchText .5s infinite;
  font-size: 2rem;
  position: relative;
}

@-webkit-keyframes glitchText {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0.05em 0 rgba(0, 255, 0, 0.75), -0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0.05em 0 rgba(0, 255, 0, 0.75), -0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@keyframes glitchText {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0.05em 0 rgba(0, 255, 0, 0.75), -0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0.05em 0 rgba(0, 255, 0, 0.75), -0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

.wobble {
  -webkit-animation: wobble .25s infinite;
          animation: wobble .25s infinite;
}

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wobble {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.glow {
  -webkit-animation: glow 1s infinite alternate;
          animation: glow 1s infinite alternate;
  background: #2469ab;
  -webkit-box-shadow: 0 0 15px 5px #2469ab;
          box-shadow: 0 0 15px 5px #2469ab;
  text-shadow: 0 0 0px #fff;
}

@-webkit-keyframes glow {
  from {
    background: #2469ab;
    -webkit-box-shadow: 0 0 15px 5px #2469ab;
            box-shadow: 0 0 15px 5px #2469ab;
    text-shadow: 0 0 0px #fff;
  }
  to {
    background: #448fd8;
    -webkit-box-shadow: 0 0 20px 10px #2469ab;
            box-shadow: 0 0 20px 10px #2469ab;
    text-shadow: 0 0 10px #fff;
  }
}

@keyframes glow {
  from {
    background: #2469ab;
    -webkit-box-shadow: 0 0 15px 5px #2469ab;
            box-shadow: 0 0 15px 5px #2469ab;
    text-shadow: 0 0 0px #fff;
  }
  to {
    background: #448fd8;
    -webkit-box-shadow: 0 0 20px 10px #2469ab;
            box-shadow: 0 0 20px 10px #2469ab;
    text-shadow: 0 0 10px #fff;
  }
}

.neon {
  -webkit-animation: neon 2s infinite;
          animation: neon 2s infinite;
  color: #fff;
  font-family: cursive;
  font-size: 2rem;
  font-style: italic;
  text-shadow: 0 0 5px #fff, 0 0 10px #448fd8, 0 0 20px #448fd8, 0 0 40px #2469ab, 0 0 60px #2469ab, 0 0 80px #2469ab, 0 0 100px #2469ab;
}

@-webkit-keyframes neon {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #448fd8, 0 0 20px #448fd8, 0 0 40px #2469ab, 0 0 60px #2469ab, 0 0 80px #2469ab, 0 0 100px #2469ab;
  }
  3% {
    text-shadow: 0 0 0px #fff, 0 0 5px #448fd8, 0 0 10px #448fd8, 0 0 30px #2469ab, 0 0 50px #2469ab, 0 0 70px #2469ab, 0 0 90px #2469ab;
  }
  6% {
    text-shadow: 0 0 5px #fff, 0 0 10px #448fd8, 0 0 20px #448fd8, 0 0 40px #2469ab, 0 0 60px #2469ab, 0 0 80px #2469ab, 0 0 100px #2469ab;
  }
  20% {
    text-shadow: 0 0 0px #fff, 0 0 5px #448fd8, 0 0 10px #448fd8, 0 0 30px #2469ab, 0 0 50px #2469ab, 0 0 70px #2469ab, 0 0 90px #2469ab;
  }
  23% {
    text-shadow: 0 0 5px #fff, 0 0 10px #448fd8, 0 0 20px #448fd8, 0 0 40px #2469ab, 0 0 60px #2469ab, 0 0 80px #2469ab, 0 0 100px #2469ab;
  }
  50% {
    text-shadow: 0 0 5px #fff, 0 0 5px #448fd8, 0 0 10px #448fd8, 0 0 20px #2469ab, 0 0 30px #2469ab, 0 0 40px #2469ab, 0 0 50px #2469ab;
  }
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #448fd8, 0 0 20px #448fd8, 0 0 40px #2469ab, 0 0 60px #2469ab, 0 0 80px #2469ab, 0 0 100px #2469ab;
  }
}

@keyframes neon {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #448fd8, 0 0 20px #448fd8, 0 0 40px #2469ab, 0 0 60px #2469ab, 0 0 80px #2469ab, 0 0 100px #2469ab;
  }
  3% {
    text-shadow: 0 0 0px #fff, 0 0 5px #448fd8, 0 0 10px #448fd8, 0 0 30px #2469ab, 0 0 50px #2469ab, 0 0 70px #2469ab, 0 0 90px #2469ab;
  }
  6% {
    text-shadow: 0 0 5px #fff, 0 0 10px #448fd8, 0 0 20px #448fd8, 0 0 40px #2469ab, 0 0 60px #2469ab, 0 0 80px #2469ab, 0 0 100px #2469ab;
  }
  20% {
    text-shadow: 0 0 0px #fff, 0 0 5px #448fd8, 0 0 10px #448fd8, 0 0 30px #2469ab, 0 0 50px #2469ab, 0 0 70px #2469ab, 0 0 90px #2469ab;
  }
  23% {
    text-shadow: 0 0 5px #fff, 0 0 10px #448fd8, 0 0 20px #448fd8, 0 0 40px #2469ab, 0 0 60px #2469ab, 0 0 80px #2469ab, 0 0 100px #2469ab;
  }
  50% {
    text-shadow: 0 0 5px #fff, 0 0 5px #448fd8, 0 0 10px #448fd8, 0 0 20px #2469ab, 0 0 30px #2469ab, 0 0 40px #2469ab, 0 0 50px #2469ab;
  }
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #448fd8, 0 0 20px #448fd8, 0 0 40px #2469ab, 0 0 60px #2469ab, 0 0 80px #2469ab, 0 0 100px #2469ab;
  }
}

.shiver {
  -webkit-animation: shiver .05s infinite;
          animation: shiver .05s infinite;
  position: relative;
  top: 0;
}

@-webkit-keyframes shiver {
  from {
    -webkit-transform: translateY(-1px) translateX(-1px);
            transform: translateY(-1px) translateX(-1px);
  }
  to {
    -webkit-transform: translateY(1px) translateX(1px);
            transform: translateY(1px) translateX(1px);
  }
}

@keyframes shiver {
  from {
    -webkit-transform: translateY(-1px) translateX(-1px);
            transform: translateY(-1px) translateX(-1px);
  }
  to {
    -webkit-transform: translateY(1px) translateX(1px);
            transform: translateY(1px) translateX(1px);
  }
}

/**********************************************
Rollovers
**********************************************/
.frames {
  position: relative;
}

.frames:before, .frames:after {
  border: 3px solid #2469ab;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  width: 100%;
}

.frames:before {
  z-index: -1;
}

.frames:after {
  z-index: 1;
}

.frames:hover {
  background: #2f83d3;
}

.frames:hover:before, .frames:hover:after {
  opacity: 1;
}

.frames:hover:before {
  left: auto;
  right: -10px;
  top: -10px;
}

.frames:hover:after {
  bottom: -10px;
  left: -10px;
  top: auto;
}

.wipe {
  position: relative;
}

.wipe span {
  position: relative;
  z-index: 1;
}

.wipe:after {
  content: '';
  display: block;
  position: absolute;
  background: #123557;
  opacity: 0;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  z-index: 0;
}

.wipe:hover {
  color: #fff;
}

.wipe:hover:after {
  opacity: 1;
}

.wipe.wipe-down:after {
  height: 0%;
  left: 0;
  top: 0;
  width: 100%;
}

.wipe.wipe-down:hover:after {
  height: 100%;
}

.wipe.wipe-up:after {
  bottom: 0;
  height: 0%;
  left: 0;
  top: auto;
  width: 100%;
}

.wipe.wipe-up:hover:after {
  height: 100%;
}

.wipe.wipe-right:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0%;
}

.wipe.wipe-right:hover:after {
  width: 100%;
}

.wipe.wipe-left:after {
  height: 100%;
  right: 0;
  top: 0;
  width: 0%;
}

.wipe.wipe-left:hover:after {
  width: 100%;
}

.expand {
  position: relative;
}

.expand span {
  z-index: 1;
}

.expand:after {
  background: #123557;
  content: '';
  display: block;
  height: 0%;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  width: 0%;
  z-index: 0;
}

.expand:hover {
  color: #fff;
}

.expand:hover:after {
  height: 100%;
  opacity: 1;
  width: 100%;
}

.ripple {
  overflow: hidden;
  position: relative;
}

.ripple span {
  z-index: 1;
}

.ripple:before, .ripple:after {
  border-radius: 100%;
  content: '';
  display: block;
  height: 0%;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  width: 0%;
  z-index: 0;
}

.ripple:before {
  background: #123557;
}

.ripple:after {
  background: #2469ab;
}

.ripple:hover:before {
  -webkit-animation: ripple .5s ease;
          animation: ripple .5s ease;
}

.ripple:hover:after {
  -webkit-animation: ripple .5s ease forwards;
          animation: ripple .5s ease forwards;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

@-webkit-keyframes ripple {
  from {
    height: 0;
    opacity: 0;
    width: 0;
  }
  to {
    height: 200px;
    opacity: 1;
    width: 200px;
  }
}

@keyframes ripple {
  from {
    height: 0;
    opacity: 0;
    width: 0;
  }
  to {
    height: 200px;
    opacity: 1;
    width: 200px;
  }
}

.underline {
  position: relative;
}

.underline:after, .underline:before {
  background: #123557;
  bottom: 0;
  content: '';
  display: block;
  height: 5px;
  position: absolute;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  width: 0%;
  z-index: 1;
}

.underline:hover:after {
  width: 100%;
}

.underline.underline-right:after {
  left: 0;
}

.underline.underline-left:after {
  right: 0;
}

.underline.underline-center:after, .underline.underline-center:before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.underline.underline-center:after:hover, .underline.underline-center:before:hover {
  width: 100%;
}

.grow,
.shrink {
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.grow:hover,
.shrink:hover {
  background: #123557;
}

.grow:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.shrink:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.arrow {
  position: relative;
}

.arrow span {
  position: relative;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.arrow:hover {
  background: #123557;
}

.arrow.arrow-right span {
  right: 0;
}

.arrow.arrow-right:hover span {
  right: -15px;
}

.arrow.arrow-left span {
  left: 0;
}

.arrow.arrow-left:hover span {
  left: -15px;
}

.shiver-hvr {
  position: relative;
  top: 0;
}

.shiver-hvr:hover {
  -webkit-animation: shiverHover .05s infinite;
          animation: shiverHover .05s infinite;
}

@-webkit-keyframes shiverHover {
  from {
    -webkit-transform: translateY(-1px) translateX(-1px);
            transform: translateY(-1px) translateX(-1px);
  }
  to {
    -webkit-transform: translateY(1px) translateX(1px);
            transform: translateY(1px) translateX(1px);
  }
}

@keyframes shiverHover {
  from {
    -webkit-transform: translateY(-1px) translateX(-1px);
            transform: translateY(-1px) translateX(-1px);
  }
  to {
    -webkit-transform: translateY(1px) translateX(1px);
            transform: translateY(1px) translateX(1px);
  }
}

/**********************************************
Loaders
**********************************************/
.lazy {
  -webkit-animation: lazy 1s infinite;
          animation: lazy 1s infinite;
  font-size: 2rem;
}

@-webkit-keyframes lazy {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes lazy {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.rainbow {
  -webkit-animation: rainbow .5s infinite;
          animation: rainbow .5s infinite;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(yellow), color-stop(15%, green), color-stop(30%, blue), color-stop(45%, green), color-stop(60%, yellow), color-stop(75%, red), to(yellow));
  background-image: linear-gradient(90deg, yellow 0%, green 15%, blue 30%, green 45%, yellow 60%, red 75%, yellow 100%);
  color: transparent;
  font-size: 2rem;
}

@-webkit-keyframes rainbow {
  0% {
    background-image: -webkit-gradient(linear, left top, right top, from(yellow), color-stop(15%, green), color-stop(30%, blue), color-stop(45%, green), color-stop(60%, yellow), color-stop(75%, red), to(yellow));
    background-image: linear-gradient(90deg, yellow 0%, green 15%, blue 30%, green 45%, yellow 60%, red 75%, yellow 100%);
  }
  20% {
    background-image: -webkit-gradient(linear, left top, right top, from(green), color-stop(30%, blue), color-stop(45%, green), color-stop(60%, yellow), color-stop(75%, red), to(yellow));
    background-image: linear-gradient(90deg, green 0%, blue 30%, green 45%, yellow 60%, red 75%, yellow 100%);
  }
  40% {
    background-image: -webkit-gradient(linear, left top, right top, from(blue), color-stop(15%, green), color-stop(30%, yellow), color-stop(45%, red), color-stop(60%, yellow), color-stop(75%, green), to(blue));
    background-image: linear-gradient(90deg, blue 0%, green 15%, yellow 30%, red 45%, yellow 60%, green 75%, blue 100%);
  }
  60% {
    background-image: -webkit-gradient(linear, left top, right top, from(green), color-stop(15%, yellow), color-stop(30%, red), color-stop(45%, yellow), color-stop(60%, green), color-stop(75%, blue), to(green));
    background-image: linear-gradient(90deg, green 0%, yellow 15%, red 30%, yellow 45%, green 60%, blue 75%, green 100%);
  }
  80% {
    background-image: -webkit-gradient(linear, left top, right top, from(yellow), color-stop(15%, red), color-stop(30%, yellow), color-stop(45%, green), color-stop(60%, blue), color-stop(75%, green), to(yellow));
    background-image: linear-gradient(90deg, yellow 0%, red 15%, yellow 30%, green 45%, blue 60%, green 75%, yellow 100%);
  }
  100% {
    background-image: -webkit-gradient(linear, left top, right top, from(red), color-stop(15%, yellow), color-stop(30%, green), color-stop(45%, blue), color-stop(60%, green), color-stop(75%, yellow), to(red));
    background-image: linear-gradient(90deg, red 0%, yellow 15%, green 30%, blue 45%, green 60%, yellow 75%, red 100%);
  }
}

@keyframes rainbow {
  0% {
    background-image: -webkit-gradient(linear, left top, right top, from(yellow), color-stop(15%, green), color-stop(30%, blue), color-stop(45%, green), color-stop(60%, yellow), color-stop(75%, red), to(yellow));
    background-image: linear-gradient(90deg, yellow 0%, green 15%, blue 30%, green 45%, yellow 60%, red 75%, yellow 100%);
  }
  20% {
    background-image: -webkit-gradient(linear, left top, right top, from(green), color-stop(30%, blue), color-stop(45%, green), color-stop(60%, yellow), color-stop(75%, red), to(yellow));
    background-image: linear-gradient(90deg, green 0%, blue 30%, green 45%, yellow 60%, red 75%, yellow 100%);
  }
  40% {
    background-image: -webkit-gradient(linear, left top, right top, from(blue), color-stop(15%, green), color-stop(30%, yellow), color-stop(45%, red), color-stop(60%, yellow), color-stop(75%, green), to(blue));
    background-image: linear-gradient(90deg, blue 0%, green 15%, yellow 30%, red 45%, yellow 60%, green 75%, blue 100%);
  }
  60% {
    background-image: -webkit-gradient(linear, left top, right top, from(green), color-stop(15%, yellow), color-stop(30%, red), color-stop(45%, yellow), color-stop(60%, green), color-stop(75%, blue), to(green));
    background-image: linear-gradient(90deg, green 0%, yellow 15%, red 30%, yellow 45%, green 60%, blue 75%, green 100%);
  }
  80% {
    background-image: -webkit-gradient(linear, left top, right top, from(yellow), color-stop(15%, red), color-stop(30%, yellow), color-stop(45%, green), color-stop(60%, blue), color-stop(75%, green), to(yellow));
    background-image: linear-gradient(90deg, yellow 0%, red 15%, yellow 30%, green 45%, blue 60%, green 75%, yellow 100%);
  }
  100% {
    background-image: -webkit-gradient(linear, left top, right top, from(red), color-stop(15%, yellow), color-stop(30%, green), color-stop(45%, blue), color-stop(60%, green), color-stop(75%, yellow), to(red));
    background-image: linear-gradient(90deg, red 0%, yellow 15%, green 30%, blue 45%, green 60%, yellow 75%, red 100%);
  }
}

.dancing-dots {
  font-size: 2rem;
  position: relative;
}

.dancing-dots span {
  -webkit-animation: dancingDots .5s infinite alternate;
          animation: dancingDots .5s infinite alternate;
  bottom: 0;
  position: relative;
  margin: 0 0 0 5px;
}

.dancing-dots span:nth-of-type(2) {
  -webkit-animation-delay: .15s;
          animation-delay: .15s;
}

.dancing-dots span:nth-of-type(3) {
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

@-webkit-keyframes dancingDots {
  from {
    bottom: 0;
  }
  to {
    bottom: 10px;
  }
}

@keyframes dancingDots {
  from {
    bottom: 0;
  }
  to {
    bottom: 10px;
  }
}

.dancing-letters {
  font-size: 2rem;
}

.dancing-letters span {
  -webkit-animation: dancingLetters .5s infinite alternate;
          animation: dancingLetters .5s infinite alternate;
  bottom: 0;
  position: relative;
}

.dancing-letters span:nth-of-type(2) {
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

.dancing-letters span:nth-of-type(3) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.dancing-letters span:nth-of-type(4) {
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}

@-webkit-keyframes dancingLetters {
  from {
    bottom: 0;
  }
  to {
    bottom: 10px;
  }
}

@keyframes dancingLetters {
  from {
    bottom: 0;
  }
  to {
    bottom: 10px;
  }
}

.standard-spinner {
  height: 75px;
  position: relative;
  width: 75px;
}

.standard-spinner div {
  -webkit-animation: standardSpinner 1s linear infinite;
          animation: standardSpinner 1s linear infinite;
  border: 10px solid #2469ab;
  border-top-color: #123557;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  position: absolute;
  width: 100%;
}

@-webkit-keyframes standardSpinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes standardSpinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.pulsing-spinner {
  height: 75px;
  position: relative;
  width: 75px;
}

.pulsing-spinner div {
  -webkit-animation: pulsingSpinner 1s linear infinite;
          animation: pulsingSpinner 1s linear infinite;
  border: 10px solid transparent;
  border-top-color: #2469ab;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  position: absolute;
  width: 100%;
}

.pulsing-spinner div:nth-child(2) {
  border: 10px solid transparent;
  border-bottom-color: #2469ab;
}

@-webkit-keyframes pulsingSpinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-width: 10px;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 10px;
  }
}

@keyframes pulsingSpinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-width: 10px;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 10px;
  }
}

.bouncing-ball {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  width: 100px;
}

.bouncing-ball div {
  -webkit-animation: bouncingBall .5s ease infinite alternate;
          animation: bouncingBall .5s ease infinite alternate;
  background: #2469ab;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

@-webkit-keyframes bouncingBall {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@keyframes bouncingBall {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

.flipper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100px;
}

.flipper div {
  -webkit-animation: flipper 2s linear infinite;
          animation: flipper 2s linear infinite;
  background: #2469ab;
  height: 50px;
  position: absolute;
  top: 0;
  width: 50%;
}

@-webkit-keyframes flipper {
  0% {
    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);
  }
  25% {
    -webkit-transform: rotateX(0) rotateY(180deg);
            transform: rotateX(0) rotateY(180deg);
  }
  50% {
    -webkit-transform: rotateX(180deg) rotateY(180deg);
            transform: rotateX(180deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateX(180deg) rotateY(0);
            transform: rotateX(180deg) rotateY(0);
  }
  100% {
    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);
  }
}

@keyframes flipper {
  0% {
    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);
  }
  25% {
    -webkit-transform: rotateX(0) rotateY(180deg);
            transform: rotateX(0) rotateY(180deg);
  }
  50% {
    -webkit-transform: rotateX(180deg) rotateY(180deg);
            transform: rotateX(180deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateX(180deg) rotateY(0);
            transform: rotateX(180deg) rotateY(0);
  }
  100% {
    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);
  }
}
/*# sourceMappingURL=animations.css.map */