@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap");
* {
  font-weight: normal;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

html {
  font-size: 16px;
}

/**********************************************
Loop
**********************************************/
.glitch {
  -webkit-animation: glitch .5s infinite;
          animation: glitch .5s infinite;
  -webkit-box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
          box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
  position: relative;
}

@-webkit-keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.1em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.1em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0.05em 0 rgba(0, 255, 0, 0.75), -0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.25em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.1em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.25em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.1em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0.05em 0 rgba(0, 255, 0, 0.75), -0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.1em -0.025em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.1em -0.025em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), 0.05em 0.1em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), 0.05em 0.1em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.1em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.1em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.1em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.1em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
  }
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.1em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.1em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0.05em 0 rgba(0, 255, 0, 0.75), -0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.25em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.1em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.25em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.1em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0.05em 0 rgba(0, 255, 0, 0.75), -0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.1em -0.025em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.1em -0.025em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), 0.05em 0.1em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), 0.05em 0.1em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.1em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.1em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.1em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
            box-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.1em 0 rgba(0, 255, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
  }
}

.glitch-text {
  -webkit-animation: glitchText .5s infinite;
          animation: glitchText .5s infinite;
  font-size: 2rem;
  position: relative;
}

@-webkit-keyframes glitchText {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0.05em 0 rgba(0, 255, 0, 0.75), -0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0.05em 0 rgba(0, 255, 0, 0.75), -0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@keyframes glitchText {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), 0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0.05em 0 rgba(0, 255, 0, 0.75), -0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0.05em 0 rgba(0, 255, 0, 0.75), -0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

.wobble {
  -webkit-animation: wobble .25s infinite;
          animation: wobble .25s infinite;
}

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wobble {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.glow {
  -webkit-animation: glow 2s infinite;
          animation: glow 2s infinite;
  background: #2469ab;
  -webkit-box-shadow: 0 0 15px 5px #2469ab;
          box-shadow: 0 0 15px 5px #2469ab;
  text-shadow: 0 0 0px #fff;
}

@-webkit-keyframes glow {
  0% {
    background: #2469ab;
    -webkit-box-shadow: 0 0 15px 5px #2469ab;
            box-shadow: 0 0 15px 5px #2469ab;
    text-shadow: 0 0 0px #fff;
  }
  50% {
    background: #448fd8;
    -webkit-box-shadow: 0 0 20px 10px #2469ab;
            box-shadow: 0 0 20px 10px #2469ab;
    text-shadow: 0 0 10px #fff;
  }
  100% {
    background: #2469ab;
    -webkit-box-shadow: 0 0 15px 5px #2469ab;
            box-shadow: 0 0 15px 5px #2469ab;
    text-shadow: 0 0 0 #fff;
  }
}

@keyframes glow {
  0% {
    background: #2469ab;
    -webkit-box-shadow: 0 0 15px 5px #2469ab;
            box-shadow: 0 0 15px 5px #2469ab;
    text-shadow: 0 0 0px #fff;
  }
  50% {
    background: #448fd8;
    -webkit-box-shadow: 0 0 20px 10px #2469ab;
            box-shadow: 0 0 20px 10px #2469ab;
    text-shadow: 0 0 10px #fff;
  }
  100% {
    background: #2469ab;
    -webkit-box-shadow: 0 0 15px 5px #2469ab;
            box-shadow: 0 0 15px 5px #2469ab;
    text-shadow: 0 0 0 #fff;
  }
}

.neon {
  -webkit-animation: neon 2s infinite;
          animation: neon 2s infinite;
  color: #fff;
  font-family: cursive;
  font-size: 2rem;
  font-style: italic;
  text-shadow: 0 0 5px #fff, 0 0 10px #448fd8, 0 0 20px #448fd8, 0 0 40px #2469ab, 0 0 60px #2469ab, 0 0 80px #2469ab, 0 0 100px #2469ab;
}

@-webkit-keyframes neon {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #448fd8, 0 0 20px #448fd8, 0 0 40px #2469ab, 0 0 60px #2469ab, 0 0 80px #2469ab, 0 0 100px #2469ab;
  }
  3% {
    text-shadow: 0 0 0px #fff, 0 0 5px #448fd8, 0 0 10px #448fd8, 0 0 30px #2469ab, 0 0 50px #2469ab, 0 0 70px #2469ab, 0 0 90px #2469ab;
  }
  6% {
    text-shadow: 0 0 5px #fff, 0 0 10px #448fd8, 0 0 20px #448fd8, 0 0 40px #2469ab, 0 0 60px #2469ab, 0 0 80px #2469ab, 0 0 100px #2469ab;
  }
  20% {
    text-shadow: 0 0 0px #fff, 0 0 5px #448fd8, 0 0 10px #448fd8, 0 0 30px #2469ab, 0 0 50px #2469ab, 0 0 70px #2469ab, 0 0 90px #2469ab;
  }
  23% {
    text-shadow: 0 0 5px #fff, 0 0 10px #448fd8, 0 0 20px #448fd8, 0 0 40px #2469ab, 0 0 60px #2469ab, 0 0 80px #2469ab, 0 0 100px #2469ab;
  }
  50% {
    text-shadow: 0 0 5px #fff, 0 0 5px #448fd8, 0 0 10px #448fd8, 0 0 20px #2469ab, 0 0 30px #2469ab, 0 0 40px #2469ab, 0 0 50px #2469ab;
  }
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #448fd8, 0 0 20px #448fd8, 0 0 40px #2469ab, 0 0 60px #2469ab, 0 0 80px #2469ab, 0 0 100px #2469ab;
  }
}

@keyframes neon {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #448fd8, 0 0 20px #448fd8, 0 0 40px #2469ab, 0 0 60px #2469ab, 0 0 80px #2469ab, 0 0 100px #2469ab;
  }
  3% {
    text-shadow: 0 0 0px #fff, 0 0 5px #448fd8, 0 0 10px #448fd8, 0 0 30px #2469ab, 0 0 50px #2469ab, 0 0 70px #2469ab, 0 0 90px #2469ab;
  }
  6% {
    text-shadow: 0 0 5px #fff, 0 0 10px #448fd8, 0 0 20px #448fd8, 0 0 40px #2469ab, 0 0 60px #2469ab, 0 0 80px #2469ab, 0 0 100px #2469ab;
  }
  20% {
    text-shadow: 0 0 0px #fff, 0 0 5px #448fd8, 0 0 10px #448fd8, 0 0 30px #2469ab, 0 0 50px #2469ab, 0 0 70px #2469ab, 0 0 90px #2469ab;
  }
  23% {
    text-shadow: 0 0 5px #fff, 0 0 10px #448fd8, 0 0 20px #448fd8, 0 0 40px #2469ab, 0 0 60px #2469ab, 0 0 80px #2469ab, 0 0 100px #2469ab;
  }
  50% {
    text-shadow: 0 0 5px #fff, 0 0 5px #448fd8, 0 0 10px #448fd8, 0 0 20px #2469ab, 0 0 30px #2469ab, 0 0 40px #2469ab, 0 0 50px #2469ab;
  }
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #448fd8, 0 0 20px #448fd8, 0 0 40px #2469ab, 0 0 60px #2469ab, 0 0 80px #2469ab, 0 0 100px #2469ab;
  }
}

/**********************************************
Rollovers
**********************************************/
.frames {
  position: relative;
}

.frames:before, .frames:after {
  border: 3px solid #2469ab;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  width: 100%;
}

.frames:before {
  z-index: -1;
}

.frames:after {
  z-index: 1;
}

.frames:hover {
  background: #2f83d3;
}

.frames:hover:before, .frames:hover:after {
  opacity: 1;
}

.frames:hover:before {
  left: auto;
  right: -10px;
  top: -10px;
}

.frames:hover:after {
  bottom: -10px;
  left: -10px;
  top: auto;
}

.wipe {
  position: relative;
}

.wipe span {
  position: relative;
  z-index: 1;
}

.wipe:after {
  content: '';
  display: block;
  position: absolute;
  background: #123557;
  opacity: 0;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  z-index: 0;
}

.wipe:hover {
  color: #fff;
}

.wipe:hover:after {
  opacity: 1;
}

.wipe.wipe-down:after {
  height: 0%;
  left: 0;
  top: 0;
  width: 100%;
}

.wipe.wipe-down:hover:after {
  height: 100%;
}

.wipe.wipe-up:after {
  bottom: 0;
  height: 0%;
  left: 0;
  top: auto;
  width: 100%;
}

.wipe.wipe-up:hover:after {
  height: 100%;
}

.wipe.wipe-right:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0%;
}

.wipe.wipe-right:hover:after {
  width: 100%;
}

.wipe.wipe-left:after {
  height: 100%;
  right: 0;
  top: 0;
  width: 0%;
}

.wipe.wipe-left:hover:after {
  width: 100%;
}

.expand {
  position: relative;
}

.expand span {
  z-index: 1;
}

.expand:after {
  background: #123557;
  content: '';
  display: block;
  height: 0%;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  width: 0%;
  z-index: 0;
}

.expand:hover {
  color: #fff;
}

.expand:hover:after {
  height: 100%;
  opacity: 1;
  width: 100%;
}

.ripple {
  overflow: hidden;
  position: relative;
}

.ripple span {
  z-index: 1;
}

.ripple:before, .ripple:after {
  border-radius: 100%;
  content: '';
  display: block;
  height: 0%;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  width: 0%;
  z-index: 0;
}

.ripple:before {
  background: #123557;
}

.ripple:after {
  background: #2469ab;
}

.ripple:hover:before {
  -webkit-animation: ripple 1s ease-in-out;
          animation: ripple 1s ease-in-out;
}

.ripple:hover:after {
  -webkit-animation: ripple 1s ease-in-out;
          animation: ripple 1s ease-in-out;
  -webkit-animation-delay: .15s;
          animation-delay: .15s;
}

@-webkit-keyframes ripple {
  0% {
    height: 0;
    opacity: 0;
    width: 0;
  }
  50% {
    height: 200%;
    opacity: 1;
    width: 200%;
  }
  100% {
    height: 0;
    opacity: 0;
    width: 0;
  }
}

@keyframes ripple {
  0% {
    height: 0;
    opacity: 0;
    width: 0;
  }
  50% {
    height: 200%;
    opacity: 1;
    width: 200%;
  }
  100% {
    height: 0;
    opacity: 0;
    width: 0;
  }
}

.underline {
  position: relative;
}

.underline:after, .underline:before {
  background: #123557;
  bottom: 0;
  content: '';
  display: block;
  height: 5px;
  position: absolute;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  width: 0%;
  z-index: 1;
}

.underline:hover:after {
  width: 100%;
}

.underline.underline-right:after {
  left: 0;
}

.underline.underline-left:after {
  right: 0;
}

.underline.underline-center:after, .underline.underline-center:before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.underline.underline-center:after:hover, .underline.underline-center:before:hover {
  width: 100%;
}

.grow,
.shrink {
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.grow:hover,
.shrink:hover {
  background: #123557;
}

.grow:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.shrink:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.arrow {
  position: relative;
}

.arrow span {
  position: relative;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.arrow:hover {
  background: #123557;
}

.arrow.arrow-right span {
  right: 0;
}

.arrow.arrow-right:hover span {
  right: -15px;
}

.arrow.arrow-left span {
  left: 0;
}

.arrow.arrow-left:hover span {
  left: -15px;
}

/**********************************************
Loaders
**********************************************/
.lazy {
  -webkit-animation: lazy 1s infinite;
          animation: lazy 1s infinite;
  font-size: 2rem;
}

@-webkit-keyframes lazy {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes lazy {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.rainbow {
  -webkit-animation: rainbow 2s infinite;
          animation: rainbow 2s infinite;
  color: red;
  font-size: 2rem;
  -webkit-transition: all ease;
  transition: all ease;
}

@-webkit-keyframes rainbow {
  0% {
    color: red;
  }
  10% {
    color: orange;
  }
  20% {
    color: yellow;
  }
  30% {
    color: green;
  }
  40% {
    color: blue;
  }
  50% {
    color: indigo;
  }
  60% {
    color: blue;
  }
  70% {
    color: green;
  }
  80% {
    color: yellow;
  }
  90% {
    color: orange;
  }
  100% {
    color: red;
  }
}

@keyframes rainbow {
  0% {
    color: red;
  }
  10% {
    color: orange;
  }
  20% {
    color: yellow;
  }
  30% {
    color: green;
  }
  40% {
    color: blue;
  }
  50% {
    color: indigo;
  }
  60% {
    color: blue;
  }
  70% {
    color: green;
  }
  80% {
    color: yellow;
  }
  90% {
    color: orange;
  }
  100% {
    color: red;
  }
}

.dancing-dots {
  font-size: 2rem;
  position: relative;
}

.dancing-dots span {
  -webkit-animation: dancingDots 1s infinite;
          animation: dancingDots 1s infinite;
  bottom: 0;
  position: relative;
  margin: 0 0 0 5px;
}

.dancing-dots span:nth-of-type(2) {
  -webkit-animation-delay: .15s;
          animation-delay: .15s;
}

.dancing-dots span:nth-of-type(3) {
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

@-webkit-keyframes dancingDots {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes dancingDots {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}

.dancing-letters {
  font-size: 2rem;
}

.dancing-letters span {
  -webkit-animation: dancingLetters 1s infinite;
          animation: dancingLetters 1s infinite;
  bottom: 0;
  position: relative;
}

.dancing-letters span:nth-of-type(2) {
  -webkit-animation: dancingLetters 1s infinite .25s;
          animation: dancingLetters 1s infinite .25s;
}

.dancing-letters span:nth-of-type(3) {
  -webkit-animation: dancingLetters 1s infinite .5s;
          animation: dancingLetters 1s infinite .5s;
}

.dancing-letters span:nth-of-type(4) {
  -webkit-animation: dancingLetters 1s infinite .75s;
          animation: dancingLetters 1s infinite .75s;
}

@-webkit-keyframes dancingLetters {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes dancingLetters {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}
/*# sourceMappingURL=animations.css.map */