@import 'partials/_variables.scss';
@import 'partials/_mixins.scss';
@import 'partials/_fonts.scss';
@import 'partials/_reset.scss';

/**********************************************
Loop
**********************************************/

//Glitch
.glitch {
    animation: glitch .5s infinite;
    box-shadow:
        .1em 0 0 rgba(255, 0, 0, .75),
        -.05em -.05em 0 rgba(0, 255, 0, .75),
        .05em .05em 0 rgba(0, 0, 255, .75);
    position: relative;
}

@keyframes glitch {
    0% {
        text-shadow:
            .05em 0 0 rgba(255, 0, 0, .75),
            -.05em -.05em 0 rgba(0, 255, 0, .75),
            .05em .05em 0 rgba(0, 0, 255, .75);

        box-shadow:
            .1em 0 0 rgba(255, 0, 0, .75),
            -.025em -.05em 0 rgba(0, 255, 0, .75),
            .05em .025em 0 rgba(0, 0, 255, .75);
    }

    14% {
        text-shadow:
            .05em 0 0 rgba(255, 0, 0, .75),
            -.05em -.05em 0 rgba(0, 255, 0, .75),
            .05em .05em 0 rgba(0, 0, 255, .75);

        box-shadow:
            .05em 0 0 rgba(255, 0, 0, .75),
            -.1em -.05em 0 rgba(0, 255, 0, .75),
            .05em .025em 0 rgba(0, 0, 255, .75);
    }

    15% {
        text-shadow:
            -.05em -.05em 0 rgba(255, 0, 0, .75),
            .05em .05em 0 rgba(0, 255, 0, .75),
            -.05em .05em 0 rgba(0, 0, 255, .75);

        box-shadow:
            .25em 0 0 rgba(255, 0, 0, .75),
            -.025em -.05em 0 rgba(0, 255, 0, .75),
            .05em .1em 0 rgba(0, 0, 255, .75);
    }

    49% {
        text-shadow:
            -.05em -.05em 0 rgba(255, 0, 0, .75),
            .05em .05em 0 rgba(0, 255, 0, .75),
            -.05em .05em 0 rgba(0, 0, 255, .75);

        box-shadow:
            .05em 0 0 rgba(255, 0, 0, .75),
            -.1em -.025em 0 rgba(0, 255, 0, .75),
            .025em .05em 0 rgba(0, 0, 255, .75);
    }

    50% {
        text-shadow:
            .05em .05em 0 rgba(255, 0, 0, .75),
            .05em 0 0 rgba(0, 255, 0, .75),
            .0 -.05em 0 rgba(0, 0, 255, .75);

        box-shadow:
            .1em 0 0 rgba(255, 0, 0, .75),
            -.025em -.025em 0 rgba(0, 255, 0, .75),
            .05em .1em 0 rgba(0, 0, 255, .75);
    }

    99% {
        text-shadow:
            .05em .05em 0 rgba(255, 0, 0, .75),
            .05em 0 0 rgba(0, 255, 0, .75),
            .0 -.05em 0 rgba(0, 0, 255, .75);

        box-shadow:
            .05em 0 0 rgba(255, 0, 0, .75),
            -.025em -.05em 0 rgba(0, 255, 0, .75),
            .025em .1em 0 rgba(0, 0, 255, .75);
    }

    100% {
        text-shadow:
            -.05em 0 0 rgba(255, 0, 0, .75),
            -.05em -.05em 0 rgba(0, 255, 0, .75),
            -.05em -.05em 0 rgba(0, 0, 255, .75);

        box-shadow:
            .1em 0 0 rgba(255, 0, 0, .75),
            -.025em -.1em 0 rgba(0, 255, 0, .75),
            .05em .025em 0 rgba(0, 0, 255, .75);
    }
}

//Glitch Text
.glitch-text {
    animation: glitchText .5s infinite;
    font-size: 2rem;
    position: relative;
}

@keyframes glitchText {
    0% {
        text-shadow:
            .05em 0 0 rgba(255, 0, 0, .75),
            -.05em -.05em 0 rgba(0, 255, 0, .75),
            .05em .05em 0 rgba(0, 0, 255, .75);
    }

    14% {
        text-shadow:
            .05em 0 0 rgba(255, 0, 0, .75),
            -.05em -.05em 0 rgba(0, 255, 0, .75),
            .05em .05em 0 rgba(0, 0, 255, .75);
    }

    15% {
        text-shadow:
            -.05em -.05em 0 rgba(255, 0, 0, .75),
            .05em .05em 0 rgba(0, 255, 0, .75),
            -.05em .05em 0 rgba(0, 0, 255, .75);
    }

    49% {
        text-shadow:
            -.05em -.05em 0 rgba(255, 0, 0, .75),
            .05em .05em 0 rgba(0, 255, 0, .75),
            -.05em .05em 0 rgba(0, 0, 255, .75);
    }

    50% {
        text-shadow:
            .05em .05em 0 rgba(255, 0, 0, .75),
            .05em 0 0 rgba(0, 255, 0, .75),
            .0 -.05em 0 rgba(0, 0, 255, .75);
    }

    99% {
        text-shadow:
            .05em .05em 0 rgba(255, 0, 0, .75),
            .05em 0 0 rgba(0, 255, 0, .75),
            .0 -.05em 0 rgba(0, 0, 255, .75);
    }

    100% {
        text-shadow:
            -.05em 0 0 rgba(255, 0, 0, .75),
            -.05em -.05em 0 rgba(0, 255, 0, .75),
            -.05em -.05em 0 rgba(0, 0, 255, .75);
    }
}

//Wobble
.wobble {
    animation: wobble .25s infinite;
}

@keyframes wobble {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(5deg);
    }

    10% {
        transform: rotate(0deg);
    }
}

//Glow
.glow {
    animation: glow 2s infinite;
    background: $dark;
    box-shadow: 0 0 15px 5px $dark;
    text-shadow: 0 0 0px $white;
}

@keyframes glow {

    0% {
        background: $dark;
        box-shadow: 0 0 15px 5px $dark;
        text-shadow: 0 0 0px $white;
    }

    50% {
        background: $light;
        box-shadow: 0 0 20px 10px $dark;
        text-shadow: 0 0 10px $white;
    }

    100% {
        background: $dark;
        box-shadow: 0 0 15px 5px $dark;
        text-shadow: 0 0 0 $white;
    }
}

//Neon
.neon {
    animation: neon 2s infinite;
    color: $white;
    font-family: cursive;
    font-size: 2rem;
    font-style: italic;
    text-shadow:
        0 0 5px $white,
        0 0 10px $light,
        0 0 20px $light,
        0 0 40px $dark,
        0 0 60px $dark,
        0 0 80px $dark,
        0 0 100px $dark;
}

@keyframes neon {
    0% {
        text-shadow:
            0 0 5px $white,
            0 0 10px $light,
            0 0 20px $light,
            0 0 40px $dark,
            0 0 60px $dark,
            0 0 80px $dark,
            0 0 100px $dark;
    }

    3% {
        text-shadow:
            0 0 0px $white,
            0 0 5px $light,
            0 0 10px $light,
            0 0 30px $dark,
            0 0 50px $dark,
            0 0 70px $dark,
            0 0 90px $dark;
    }

    6% {
        text-shadow:
            0 0 5px $white,
            0 0 10px $light,
            0 0 20px $light,
            0 0 40px $dark,
            0 0 60px $dark,
            0 0 80px $dark,
            0 0 100px $dark;
    }

    20% {
        text-shadow:
            0 0 0px $white,
            0 0 5px $light,
            0 0 10px $light,
            0 0 30px $dark,
            0 0 50px $dark,
            0 0 70px $dark,
            0 0 90px $dark;
    }

    23% {
        text-shadow:
            0 0 5px $white,
            0 0 10px $light,
            0 0 20px $light,
            0 0 40px $dark,
            0 0 60px $dark,
            0 0 80px $dark,
            0 0 100px $dark;
    }

    50% {
        text-shadow:
            0 0 5px $white,
            0 0 5px $light,
            0 0 10px $light,
            0 0 20px $dark,
            0 0 30px $dark,
            0 0 40px $dark,
            0 0 50px $dark;
    }

    100% {
        text-shadow:
            0 0 5px $white,
            0 0 10px $light,
            0 0 20px $light,
            0 0 40px $dark,
            0 0 60px $dark,
            0 0 80px $dark,
            0 0 100px $dark;
    }
}

/**********************************************
Rollovers
**********************************************/

//Frames
.frames {
    position: relative;

    &:before,
    &:after {
        border: 3px solid $dark;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: all .25s ease;
        width: 100%;
    }

    &:before {
        z-index: -1;
    }

    &:after {
        z-index: 1;
    }

    &:hover {
        background: lighten($dark, 10%);

        &:before,
        &:after {
            opacity: 1;
        }

        &:before {
            left: auto;
            right: -10px;
            top: -10px;
        }

        &:after {
            bottom: -10px;
            left: -10px;
            top: auto;
        }
    }


}

//Wipe
.wipe {
    position: relative;

    span {
        position: relative;
        z-index: 1;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        background: $darker;
        opacity: 0;
        transition: all .25s ease-in-out;
        z-index: 0;
    }

    &:hover {
        color: $white;

        &:after {
            opacity: 1;
        }
    }

    &.wipe-down {

        &:after {
            height: 0%;
            left: 0;
            top: 0;
            width: 100%;
        }

        &:hover:after {
            height: 100%;
        }
    }

    &.wipe-up {

        &:after {
            bottom: 0;
            height: 0%;
            left: 0;
            top: auto;
            width: 100%;
        }

        &:hover:after {
            height: 100%;
        }
    }

    &.wipe-right {

        &:after {
            height: 100%;
            left: 0;
            top: 0;
            width: 0%;
        }

        &:hover:after {
            width: 100%;
        }
    }

    &.wipe-left {

        &:after {
            height: 100%;
            right: 0;
            top: 0;
            width: 0%;
        }

        &:hover:after {
            width: 100%;
        }
    }
}

//Expand
.expand {
    position: relative;

    span {
        z-index: 1;
    }

    &:after {
        background: $darker;
        content: '';
        display: block;
        height: 0%;
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all .25s ease-in-out;
        width: 0%;
        z-index: 0;
    }

    &:hover {
        color: $white;

        &:after {
            height: 100%;
            opacity: 1;
            width: 100%;
        }
    }
}

//Ripple
.ripple {
    overflow: hidden;
    position: relative;

    span {
        z-index: 1;
    }

    &:before,
    &:after {
        border-radius: 100%;
        content: '';
        display: block;
        height: 0%;
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all .25s ease-in-out;
        width: 0%;
        z-index: 0;
    }

    &:before {
        background: $darker;
    }

    &:after {
        background: $dark;
    }

    &:hover {
        &:before {
            animation: ripple 1s ease-in-out;
        }

        &:after {
            animation: ripple 1s ease-in-out;
            animation-delay: .15s;
        }
    }
}

@keyframes ripple {

    0% {
        height: 0;
        opacity: 0;
        width: 0;
    }

    50% {
        height: 200%;
        opacity: 1;
        width: 200%;
    }

    100% {
        height: 0;
        opacity: 0;
        width: 0;
    }
}

//Underline
.underline {
    position: relative;

    &:after,
    &:before {
        background: $darker;
        bottom: 0;
        content: '';
        display: block;
        height: 5px;
        position: absolute;
        transition: all .15s ease-in-out;
        width: 0%;
        z-index: 1;
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }

    &.underline-right:after {
        left: 0;
    }

    &.underline-left:after {
        right: 0;
    }

    &.underline-center:after,
    &.underline-center:before {
        left: 50%;
        transform: translateX(-50%);

        &:hover {
            width: 100%;
        }
    }
}

//Size
.grow,
.shrink {
    transition: all .25s ease;

    &:hover {
        background: $darker;
    }
}

.grow:hover {
    transform: scale(1.05);
}

.shrink:hover {
    transform: scale(.95);
}

//Arrows
.arrow {
    position: relative;

    span {
        position: relative;
        transition: all .25s ease;
    }

    &:hover {
        background: $darker;
    }

    &.arrow-right {

        span {
            right: 0;
        }

        &:hover span {
            right: -15px;
        }
    }

    &.arrow-left {

        span {
            left: 0;
        }

        &:hover span {
            left: -15px;
        }
    }
}

/**********************************************
Loaders
**********************************************/

//Lazy
.lazy {
    animation: lazy 1s infinite;
    font-size: 2rem;
}

@keyframes lazy {

    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

//Rainbow
.rainbow {
    animation: rainbow 2s infinite;
    color: red;
    font-size: 2rem;
    transition: all ease;
}

@keyframes rainbow {
    0% {
        color: red;
    }

    10% {
        color: orange;
    }

    20% {
        color: yellow;
    }

    30% {
        color: green;
    }

    40% {
        color: blue;
    }

    50% {
        color: indigo;
    }

    60% {
        color: blue;
    }

    70% {
        color: green;
    }

    80% {
        color: yellow;
    }

    90% {
        color: orange;
    }

    100% {
        color: red;
    }
}

//Dancing Dots
.dancing-dots {
    font-size: 2rem;
    position: relative;

    span {
        animation: dancingDots 1s infinite;
        bottom: 0;
        position: relative;
        margin: 0 0 0 5px;

        &:nth-of-type(2) {
            animation-delay: .15s;
        }

        &:nth-of-type(3) {
            animation-delay: .25s;
        }
    }
}

@keyframes dancingDots {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 10px;
    }

    100% {
        bottom: 0;
    }
}

//Dancing Letters
.dancing-letters {
    font-size: 2rem;

    span {
        animation: dancingLetters 1s infinite;
        bottom: 0;
        position: relative;

        &:nth-of-type(2) {
            animation: dancingLetters 1s infinite .25s;
        }

        &:nth-of-type(3) {
            animation: dancingLetters 1s infinite .5s;
        }

        &:nth-of-type(4) {
            animation: dancingLetters 1s infinite .75s;
        }
    }
}

@keyframes dancingLetters {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 10px;
    }

    100% {
        bottom: 0;
    }
}